* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #EAF5FC;
    color: #172B4D;
}


/* NAVBAR */

header {
    height: 75px;
    background-color: #0B2A55;

    display: flex;
    align-items: center;
    justify-content: space-between;

    padding: 0 60px;
}


/* LOGO */

.tripboard-logo {
    width: 650px;
    height: 72px;

    object-fit: contain;
    display: block;
}


/* NAVIGATION */

nav a {
    color: white;
    text-decoration: none;

    margin-left: 30px;

    font-size: 16px;
}

nav a:hover {
    color: #C9A227;
}

.login-btn {
    background-color: #C9A227;

    padding: 10px 22px;

    border-radius: 5px;

    color: white;
}


/* HERO */

.hero {
    min-height: 500px;

    display: flex;
    align-items: center;
    justify-content: space-between;

    padding: 70px 100px;

    background-color: white;
}

.hero-text {
    width: 55%;
}

.hero-text h1 {
    color: #1659A5;

    font-size: 42px;

    margin-bottom: 10px;
}

.hero-text h2 {
    color: #0B2A55;

    font-size: 28px;
}

.hero-text p {
    font-size: 18px;

    line-height: 1.6;

    max-width: 600px;
}

.button {
    display: inline-block;

    margin-top: 20px;

    background-color: #C9A227;

    color: white;

    padding: 13px 28px;

    text-decoration: none;

    border-radius: 5px;
}


/* TRAVEL CARD */

.travel-card {
    width: 320px;

    background-color: #EAF5FC;

    padding: 30px;

    border-radius: 12px;

    border: 2px solid #D5E5F2;

    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
}

.travel-card h2 {
    color: #0B2A55;
}


/* FEATURES */

#features {
    padding: 60px 80px;

    text-align: center;
}

#features h2 {
    color: #0B2A55;

    margin-bottom: 40px;
}

.features {
    display: flex;

    justify-content: center;

    gap: 25px;
}

.feature-card {
    width: 220px;

    background-color: white;

    padding: 25px;

    border-radius: 10px;

    border-top: 4px solid #C9A227;

    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.08);
}

.feature-card h3 {
    color: #1659A5;
}


/* ABOUT */

#about {
    background-color: #0B2A55;

    color: white;

    padding: 60px 150px;

    text-align: center;
}

#about h2 {
    color: #C9A227;
}

#about p {
    font-size: 17px;

    line-height: 1.7;
}


/* FOOTER */

footer {
    background-color: #071D3A;

    color: #B8C9DA;

    text-align: center;

    padding: 20px;
}